<form method="GET" action="{% url 'product_search' %}">
    {{ form.as_p }}
    <button type="submit">Search</button>
</form>

{% for product in products %}
    <h2>{{ product.title }}</h2>
    <p>{{ product.description }}</p>
    <!--more information here :3-->
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if products.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ products.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current-page">{{ products.number }}</span>

        {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}">next</a>
            <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
